ul {
	text-align: center;
	list-style-type:none;
	padding: 0;
}

ul li {
	display: inline-block;
	margin: 10px;
}

img {
	max-height: 450px;
	padding: 15px;
}

#content {
	min-height: 350px;
}
.slide-fade-enter {
	transform: rotate(780deg); translateX(40px);
	opacity: 0;

}
.slide-fade-leave-to {
	transform: scale(2)translateX(-40px);
	opacity: 0;

}
.slide-fade-enter-active {
	transition: 0.5s ease;

}
.slide-fade-leave-active {
	transition: 0.3s ease;
}